.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* FILTER PAGE COMPONENT START */
.option-item{
  width: 7rem;
  padding: 5px;
  font-size: 14px !important;
  border-radius: 10px;
  background-color: #EDEDED;
  color: #838383;
  border:none;
  margin-bottom: 5px;
}

/* FILTER PAGE COMPONENT END */

/* FILTER NAVBAR COMPONENT START */



/* FILTER NAVBAR COMPONENT END */

/* FILTER FORM COMPONENT START */
.filter-form-body{
  left: 21rem;
  font-size: 10px;
  color: #838383;
  margin-top: -4rem;
}


.filter-form-body table{
  margin-left: -1rem;
}

.filter-input{
  margin-top: 10px;
}

::placeholder{
  font-size: 11px;
  font-style: italic;
}

.filter-input-info{
  display:block;
  font-size: 10px;
}

.filter-date-body{
  margin-Top: -4rem;
  left: 0.5rem !important;
  font-size: 10px;
  color: #838383;    
}


.filter-date-body button{
  font-size: 10px;
}
.multi-select{
  width: 10rem;
}

.filter-group-body{
  margin-Top: -4rem;
  margin-left: 31rem !important;
  font-size: 14px;
  color: #838383;    
}

.sweet-loading{
  width: 100vh;
  margin-top: -17rem;
  padding: 80% 0 0 40%;
  position: relative;
  height: 100vh;
  display: block;
  background-color: rgba(89, 89, 89, 0.9);
  transition: background-color 2s;
}



@media(min-width:1024px){
  .filter-form-body{
    width: 35rem;
    margin-Top: -5rem;
    margin-left: 8rem !important;
    font-size: 14px;
    color: #838383;    
  }


.filter-date-body button{
  font-size: 14px;
}
  .filter-date-body{
    width: 35rem;
    margin-Top: -5rem;
    left: 0.5rem !important;
    font-size: 14px;
    color: #838383;    
  }

  .filter-group-body{
    width: 35rem;
    margin-Top: -5rem;
    margin-left: 40.5rem !important;
    font-size: 14px;
    color: #838383;    
  }

  .filter-input{
    margin-top: 10px;
    height: 2.3rem;
  }

  .multi-select{
    width: 25rem;
  }

  ::placeholder{
    font-size: 12px;
    font-style: italic;
  }

  .sweet-loading{
    width: 100vw;
    margin-top: -16rem;
    padding: 19% 0 0 48%;
    position: relative;
    height: 102vh;
    display: block;
    background-color: rgba(89, 89, 89, 0.9);
    transition: background-color 2s;
  }
  
}
/* FILTER FORM COMPONENT END  */
